@{
    ViewData["Title"] = "Modelo Mvc";
}

<div class="text-center">
    <h1 class="display-4"> Olá, seja bem-vindo! </h1>
    <p> Criando a solução em ASP.NET Core MVC, utilizando a modelagem de sofware em DDD, disponibilizando a estrutura para o projeto o API Rest Full.</p>
</div>
